@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

html {
    background: radial-gradient(
        circle at center,
        rgb(35, 35, 35) 0%,
        rgb(25, 25, 25) 20%,
        rgb(15, 15, 15) 40%,
        rgb(8, 8, 8) 60%,
        rgb(0, 0, 0) 100%
    ) no-repeat center center fixed;
    color: rgb(255, 255, 255);
    font-family: "Share Tech Mono", serif;
    font-size: calc(1rem + 1vw);
    font-weight: ligher;
    text-transform: uppercase;
}