@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
*{
    cursor: inherit;
}

html, body {
    height: 100%;   
    margin: 0;
    overflow: hidden;
    padding: 0;
}

html {
    background: radial-gradient(
      circle at center,
      rgb(35, 35, 35) 0%,
      rgb(25, 25, 25) 20%,
      rgb(15, 15, 15) 40%,
      rgb(8, 8, 8) 60%,
      rgb(0, 0, 0) 100%
    ) no-repeat center center fixed;
    color: rgb(255, 255, 255);
    font-family: "Share Tech Mono", serif;
    font-size: calc(0.75rem + 1vw);
    font-weight: lighter;
    text-transform: uppercase;
    min-height: 100vh;
    width: 100%;
    padding: 2rem;
    -webkit-text-size-adjust: 100%;
  }

main {
    padding: 10px;
    margin: 10px;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

section{
    width: 100%;
}

.terminal-opening {
    width: 100%;
    height: 100vh;
    position: absolute;
    padding: 1rem;
    padding-bottom: 3rem;
    padding-top: 0.25rem;
    top: 0;
    left: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
.terminal-opening::-webkit-scrollbar {
    display: none;
  }

.terminal-choice {
    all: unset;
}

::selection {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

.choice-selected {
    background-color: rgba(187, 187, 187, 0.8);
    color: black;
    width: 100%;
}

.choice-list{
    width: 70%;
    visibility: hidden;
    margin-left: 10vw;
}

@media screen and (max-width: 768px) {
    .choice-list{
        width: 70%;
        visibility: hidden;
        margin-left: 5vw;
    }
}

.caret {
    display: inline-block;
    width: 10px;
    height: 1em;
    background-color: #d1d1d1;
    opacity: 0;
    position: relative;
    vertical-align: text-bottom;
    margin-left: 1px;
    margin-bottom: 3px;
}

.caret.visible {
    opacity: 1;
}

.terminal-text{
    margin-left: 10vw;
}

@media screen and (max-width: 768px) {
    .terminal-text {
        margin-left: 5vw;
    }
}